.main {
  --icon-width-height: 32px;

  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: var(--rlf-menu-width);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--rlf-menu-font-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;

  // hover
  &:hover {
    background-color: #e4cefb;
    border-radius: 2px;
  }
  body[theme-mode-dark] &:hover {
    background-color: #46216f;
  }

  &.disable_hover {
    background-color: transparent !important;
    border-radius: 0;
    cursor: default;
  }

  // active
  @keyframes menuIndicatorKF {
    from {
      width: 100%;
      opacity: 0.3;
    }
    to {
      width: var(--rlf-menu-indicator-width);
      opacity: 1;
    }
  }
  &.active {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: var(--rlf-menu-indicator-width);
      background-color: #9444ee;
      animation: menuIndicatorKF 600ms;
    }
  }
  &.sidebar_hidden_indicator {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 4;
      bottom: 0;
      width: var(--rlf-menu-indicator-width);
      background-color: #c088ff;
      animation: menuIndicatorKF 600ms;
    }
  }

  // other
  > * {
    width: var(--icon-width-height);
    height: var(--icon-width-height);
  }
}
