:root {
  --rlf-color: black;
  --rlf-menu-bg-color: #e9e8f3;
  --rlf-menu-font-color: #1e142b;
  --rlf-section-bg-color: #f8fafc;
  --rlf-section-border-color: #e5e7eb;
  --rlf-content-bg-color: white;
}

body[theme-mode-dark] {
  --rlf-color: #e9e8f3;
  --rlf-menu-bg-color: #1e142b;
  --rlf-menu-font-color: #e9e8f3;
  --rlf-section-bg-color: #33234a;
  --rlf-section-border-color: black;
  --rlf-content-bg-color: #422d60;
}
