:root {
  /* --rlf-header-bg-color: rgb(92, 64, 132); */
  --rlf-header-bg-color: rgb(233, 232, 243);
  /* --rlf-header-font-color: white; */
  --rlf-header-font-color: rgb(92, 64, 132);
  --rlf-section-bg-color: rgb(248, 250, 252);
  --rlf-section-border-color: rgb(229, 231, 235);
}
