.main {
  // Layout(margin, padding, height, width, display, flex...) > Text > Appearance(color, border) > Ohter
  height: 100vh;
  display: flex;
  align-items: stretch;

  .menu {
    width: var(--rlf-menu-width);
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    color: var(--rlf-menu-font-color);
    background-color: var(--rlf-menu-bg-color);
    border-right: solid 1px var(--rlf-section-border-color);
  }

  .sidebar {
    width: var(--rlf-sidebar-width);
    flex-shrink: 0;
    color: var(--rlf-color);
    background-color: var(--rlf-section-bg-color);
    border-right: solid 1px var(--rlf-section-border-color);
    overflow-x: hidden;
    overflow-y: auto;

    &.hide {
      display: none;
    }
  }

  .content {
    padding: 5px;
    min-width: var(--rlf-content-min-width);
    flex-grow: 1;
    color: var(--rlf-color);
    background-color: var(--rlf-content-bg-color);
    overflow: auto;
  }
}
